[submodule "lib/freertos/FreeRTOS-Kernel"]
	path = lib/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = smp
[submodule "raspberrypi/mpu"]
	path = raspberrypi/mpu
	url = https://github.com/Fabrice-Beya/mpu.git
	branch = main
